.grid-fluid.l-space-bottom-2
  .c12.text-center
    h3.text-headline.text-uppercase  Core Team
  .clear

.grid-fluid
  .c6
    .article-card
      .date June 15, 2016
      .date 2016年6月15日
      .title
        a(
        target="_blank"
        href="http://angularjs.blogspot.com/2016/06/rc2-now-available.html"
        ) RC2 Now Available
       
        a(
        target="_blank"
        href="http://angularjs.blogspot.com/2016/06/rc2-now-available.html"
        ) RC2已经发布
      
      p Today we’re happy to announce that we are shipping Angular 2.0.0-rc2. This release includes  1. Animation Framework  2. Improvements to Forms  3. More than 100 community contributions...
      
      p 今天，我们非常高兴的宣布，Angular 2.0.0-rc2发布了！本次发布包含 1）动画框架 2）表单改进 3）100多个来自社区的贡献...
      .author
        img(src="/resources/images/bios/stephenfluin.jpg")
        .posted Posted by <b>Stephen Fluin</b>
        
        .posted 发稿人：<b>Stephen Fluin</b>

  .c6
    .article-card
      .date June 9, 2016
      .date 2016年6月9日
      .title
        a(
        target="_blank"
        href="http://angularjs.blogspot.com/2016/06/improvements-coming-for-routing-in.html"
        ) Improvements Coming for Routing in Angular
        
          a(
        target="_blank"
        href="http://angularjs.blogspot.com/2016/06/improvements-coming-for-routing-in.html"
        ) Angular的路由器将会被增强
      
      p A little more than a month ago, we introduced a new router at ng-conf. We’re grateful to have heard from many folks at ng-conf about flaws in this new design, so we are announcing...
      
      p 一个多月前，我们在ng-conf介绍了一个新的路由器。感谢在ng-conf的很多朋友，我们收到很多关于路由器新设计潜在的缺陷，所以现在我们现在宣布...

      .author
        img(src="/resources/images/bios/stephenfluin.jpg")
        .posted 发稿人： <b>Stephen Fluin</b>

.grid-fluid.l-space-bottom-2.l-space-top-4
  .c12.text-center
    h3.text-headline.text-uppercase  Developer Community
  .clear
.grid-fluid
  .c6
    .article-card
      .date June 14, 2016
      .date 2016年6月14日
      .title
        a(
        target="_blank"
        href="http://blog.thoughtram.io/angular/2016/06/14/routing-in-angular-2-revisited.html"
        ) Routing in Angular 2 Revisited

        a(
        target="_blank"
        href="http://blog.thoughtram.io/angular/2016/06/14/routing-in-angular-2-revisited.html"
        ) 重新考虑Angular 2的路由
      
      p Just recently, the Angular team announced yet another version of the new router. Take a first look at the new and better APIs, touching on the most common scenarios...
      
      p 最近，Angular团队宣布了又一个新路由器版本。抢先看看这些崭新、更好的API，涵盖最常用的场景...
      .author
        img(src="/resources/images/bios/pascalprecht.jpg")
        .posted 发稿人： <b>Pascal Precht</b>

  .c6
    .article-card
      .date June 13, 2016
      .date 2016年6月13日
      .title
        a(
        target="_blank"
        href="https://toddmotto.com/rewriting-angular-styleguide-angular-2"
        ) A new Angular 1.x ES2015 styleguide, the path to Angular 2

        a(
        target="_blank"
        href="https://toddmotto.com/rewriting-angular-styleguide-angular-2"
        ) 全新Angular 1.x ES2015风格指南，走向Angular 2
      p Angular 1.x has changed vastly since the original styleguide, and ES6/ES2015 has now become a defacto standard. The new styleguide focuses on using ES2015, offering recommendations on tooling to use it today...

      p 从原始的风格指南到现在，Angular 1.x发生了很大的变化，而且ES6/ES2015也变成了事实上的新标准. 这个新的风格指南的重点是使用了ES2015，提供了环境和工具推荐，让我们可以现在就使用ES20155标准...
      .author
        img(src="/resources/images/bios/shield-bio-placeholder.png")
        .posted Posted by <b>Todd Motto</b>
.grid-fluid
  .c6
    .article-card
      .date June 9, 2016

      .date 2016年6月9日
      .title
        a(
        target="_blank"
        href="https://medium.com/@urish/building-simon-with-angular2-iot-fceb78bb18e5"
        ) Building Simon with Angular2-IoT
        
        a(
        target="_blank"
        href="https://medium.com/@urish/building-simon-with-angular2-iot-fceb78bb18e5"
        ) 使用Angular2-IoT建造西蒙游戏
     
      p I thought it would be fun to see if I could make the same [Angular 2] control/logic code for both a web application and a physical, “Internet of Things” device....

      p 把同样的一套Angular 2的控制器和逻辑代码，应用到一个网络应用程序和一个物理的“物联网”设备....

      .author
        img(src="/resources/images/bios/angular-gde-bio-placeholder.png")
        .posted Posted by <b>Uri Shaked</b>

        .posted 发稿人：<b>Uri Shaked</b>

  .c6
    .article-card
      .date June 8, 2016

      .date June 8, 2016
      .title
        a(
        target="_blank"
        href="http://blog.thoughtram.io/angular/2016/06/08/component-relative-paths-in-angular-2.html"
        ) Component-Relative Paths in Angular 2

        a(
        target="_blank"
        href="http://blog.thoughtram.io/angular/2016/06/08/component-relative-paths-in-angular-2.html"
        ) Angular 2组件的相对路径

      p Component-based development is Angular 2’s most-loved feature. By now you should be familiar with using the @Component decorators to create components.\...

      p Angular 2最受欢迎的特征就是基于组件的开发。到现在，你应该对使用@Component装饰器来创建组件很熟悉\...
      .author
        img(src="/resources/images/bios/thomas.jpg")
        .posted Posted by <b>Thomas Burleson</b>
        .posted 发稿人：<b>Thomas Burleson</b>
          
.grid-fluid.l-space-bottom-2.l-space-top-4
  .c12.text-center
    h3.text-headline.text-uppercase Twitter
  .clear
  .grid-fluid
    .c3
        p
    .c6

      .article-card
        .title
          a(
          href="http://twitter.com/angularjs"
          class="twitter-follow-button"
          data-show-count="false"
          ) Follow @angularjs
        p.
          <a class="twitter-timeline" data-chrome="nofooter noborders noheader"
          href="http://twitter.com/angularjs" data-widget-id="700150278465523713"></a>

