div.card-row.docs-landing.layout-align-space-around-center.layout-row.flex
  div.card-row-container
    md-card.card
      md-card-content.layout-align-space-between-center.layout-column.flex
        div
          h2.text-headline.text-uppercase 5 Minute Quickstart
          h2.text-headline.text-uppercase 5分钟“快速起步”
          p A short beginner guide explaining the basic concepts of Angular
          p 一份简短的初学者指南，用于解释Angular的基本概念
          
        footer
          a.button.md-button(href="/docs/#{current.path[1]}/#{current.path[2]}/quickstart.html") View Quickstart
          a.button.md-button(href="/docs/#{current.path[1]}/#{current.path[2]}/quickstart.html") 查看“快速起步”


  div.card-row-container
    md-card.card
      md-card-content.layout-align-space-between-center.layout-column.flex
        div
          h2.text-headline.text-uppercase Developer Guide
          h2.text-headline.text-uppercase 开发指南
          p An intermediate development guide covering all major features of Angular
          p 一份中级的开发指南，覆盖Angular的所有主要特性

        footer
          a.button.md-button(href="/docs/#{current.path[1]}/#{current.path[2]}/guide/") View Guide
          a.button.md-button(href="/docs/#{current.path[1]}/#{current.path[2]}/guide/") 查看指南


  div.card-row-container
    md-card.card
      md-card-content.layout-align-space-between-center.layout-column.flex
        div
          h2.text-headline.text-uppercase API Reference
          h2.text-headline.text-uppercase API参考手册
          p An advanced reference of all Angular Classes, Methods, etc.
          p 一份高级的开发参考，包括所有Angular类、方法等。

        footer
          a.button.md-button(href="/docs/#{current.path[1]}/#{current.path[2]}/api/") View API
          a.button.md-button(href="/docs/#{current.path[1]}/#{current.path[2]}/api/") 查看API

