div.card-row(layout='row')
  div(flex)
    md-card.card
      md-card-content
        h3.text-headline.text-uppercase <span class="icon-query-builder"></span> Quickstart
        p.text-body 起步

        footer
          a(href="/docs/#{current.path[1]}/#{current.path[2]}/quickstart.html" class="button" md-button) 浏览Quickstart


  div(flex)
    md-card.card
      md-card-content
        h3.text-headline.text-uppercase <span class="icon-list"></span> 指南
        p.text-body 单步指南

        footer
          a(href="/docs/#{current.path[1]}/#{current.path[2]}/guide/" class="button button-primary" md-button) 浏览指南


  div(flex)
    md-card.card
      md-card-content
        h3.text-headline.text-uppercase <span class="icon-book"></span> API预览
        p.text-body API 2.0预览

        footer
          a(href="/docs/#{current.path[1]}/#{current.path[2]}/api/" class="button" md-button) 浏览API

