.grid-fluid.l-space-bottom-8
  .c2 &nbsp;

  .c8.text-center
    h3.text-headline.text-uppercase  为未来构建
    p.text-body.
      Angular is built by a team of engineers who share a passion for
      making web development feel effortless. We believe that writing
      beautiful apps should be joyful and fun. We're building a
      platform for the future.
    p.text-body.
      Angular由工程师组织打造，我们拥有共同的热情 —— 让Web开发变得更简单。我们深信，写漂亮的程序快乐而有趣。
      我们正在构建面向未来的平台。

  .c2 &nbsp;
  .clear

.grid-fluid.l-space-bottom-6

  h3.text-headline.text-uppercase.text-center Current Contributors
  h3.text-headline.text-uppercase.text-center 目前的贡献者

  <!-- BIO CARDS -->
  for type in [ 'Lead', 'Google', 'Community' ]
    h4.text-headline.text-uppercase(style='clear:both')= type
    for person, name in bios
      if person.type == type
        .c3
          md-card(biocard class="bio-card" website=person.website twitter=person.twitter pic=person.picture bio=person.bio name=person.name)
            header
              image(src="#{person.picture}" alt="#person.name")

              nav
                button(aria-label="View Bio") 个人经历

                if person.twitter
                  a(title="twitter" href="https://twitter.com/#{person.twitter}" ng-click="$event.stopPropagation()") <span class="icon-twitter"></span>

                if person.website
                  a(title="website" href="#{person.website}"  ng-click="$event.stopPropagation()") <span class="icon-publ"></span>

            md-card-content
              h3.text-headline.bio-card-name #{person.name}
              p(class="bio-card-content text-body") #{person.bio}
