block includes
  include ../_util-fns
  - var _angular_io = 'angular.io';

- var __lang = _docsFor || current.path[1] || 'ts';
- var guideData = public.docs[__lang].latest.guide._data;
- var advancedLandingPage = '';
- for(var page in guideData) {
-   if (!guideData[page].basics && !guideData[page].hide) { advancedLandingPage = page; break; }
- }
- var advancedUrl = './' + advancedLandingPage + '.html'


:marked
  This page describes the Angular documentation at a high level.
  If you're new to Angular, you may want to visit "[Learning Angular](learning-angular.html)" first.

  本页是 Angular 文档的概述。
  如果你刚接触 Angular，请先访问“[学习 Angular](learning-angular.html)”。

  ## Themes

  ## 主题

  The documentation is divided into major thematic sections, each
  a collection of pages devoted to that theme.

  本文档分成几大主题区，每个区包含一组围绕自己主题的页面。

block js-alert

- var __lang = _docsFor || current.path[1] || 'ts';
- var guideData = public.docs[__lang].latest.guide._data;
- var advancedLandingPage = '';
- for(var page in guideData) {
-   if (!guideData[page].basics && !guideData[page].hide) { advancedLandingPage = page; break; }
- }
- var advancedUrl = './' + advancedLandingPage + '.html'
- var top="vertical-align:top"
table(width="100%")
  col(width="15%")
  col
  tr(style=top)
    td
      p <b><a href="../quickstart.html">QuickStart</a></b>
      p <b><a href="../quickstart.html">快速起步</a></b>
    td
      :marked
        A first taste of Angular<span if-docs="ts"> with zero installation.
        Run "Hello World" in an online code editor and start playing with live code</span>.

        零配置第一次尝试 Angular 在在线代码编辑器中运行 “Hello World”，并利用在线代码开始体验。

  tr(style=top)
    td
      p <b><a href="./">Guide</a></b>
      p <b><a href="./">指南</a></b>
    td
      :marked
        Learn the Angular basics (you're already here!) like the setup for local development,
        displaying data and accepting user input, injecting application services into components,
        and building simple forms.

        学习 Angular 基础知识（你已经在这儿了！），比如搭建本地开发环境、
        显示数据和接受用户输入、注入应用程序服务到组件中，
        以及构建简单表单。
  tr(style=top)
    td
      p <b><a href="../api/">API Reference</a></b>
      p <b><a href="../api/">API参考手册</a></b>
    td
      :marked
        Authoritative details about each of the Angular libraries.

        关于 Angular 库中每一个成员的详尽、权威的资料。
  tr(style=top)
    td
      p <b><a href="../tutorial/">Tutorial</a></b>
      p <b><a href="../tutorial/">教程</a></b>
    td
      :marked
        A step-by-step, immersive approach to learning Angular that
        introduces the major features of Angular in an application context.

        按部就班、沉浸式的 Angular 学习之旅，在应用场景中介绍了 Angular 的各个主要特性。

  tr(style=top)
    td
      p <b><a href="!{advancedUrl}">Advanced</a></b>
      p <b><a href="!{advancedUrl}">高级</a></b>
    td
      :marked
        In-depth analysis of Angular features and development practices.

        深入分析 Angular 的特性和开发实践。

  tr(style=top if-docs="ts")
    td
      p <b><a href="../cookbook/">Cookbook</a></b>
      p <b><a href="../cookbook/">烹饪宝典</a></b>
    td
      :marked
        Recipes for specific application challenges, mostly code snippets with a minimum of exposition.

        一组解决实际应用中某些特定挑战的“菜谱”，大部分是代码片段随带少量的详细阐述。

:marked
  A few early pages are written as tutorials and are clearly marked as such.
  The rest of the pages highlight key points in code rather than explain each step necessary to build the sample.
  You can always get the full source through the #{_liveLink}s.

  少量早期页面是作为教程来写的，并被清晰的标注出来。
  其它页面的目的是展示代码中的关键点，而不是解释构建这个范例所需的每一个步骤。
  可以通过在线例子的链接找到完整的源代码。

  ## Code samples
  
  ## 代码例子

  Each page includes code snippets from a sample application that accompanies the page.
  You can reuse these snippets in your applications.
  
  每章都包含了该章附带例子应用的代码片段。可以在你的应用中重用这些代码片段。

  Look for a link to a running version of that sample, often near the top of the page,
  such as this <live-example nodownload name="architecture"></live-example> from the [Architecture](architecture.html) page.
  <span if-docs="ts">
  The link launches a browser-based, code editor where you can inspect, modify, save, and download the code.
  </span>
  
  查找这些例子在线版本的链接，通常在页面的开头部分附近。
  例如[架构](architecture.html)章的<live-example name="architecture"></live-example>。
  <span if-docs="ts">
  该链接启动浏览器代码编辑器，你可以查看、修改、保存和下载代码。
  </span>

  Alternatively, you can run the example locally, next to those `live-example` links you have a <a href="/resources/zips/architecture/architecture.zip">download link</a>.
  Just download, unzip, run `npm install` to install the dependencies and run it with `npm start`.
  
  不过，你也可以在本地运行这个例子，你可以点击<a href="/resources/zips/architecture/architecture.zip">下载链接</a>来下载。
  只要下载、unzip、运行`npm install`安装依赖，然后运行`npm start`就可以了。

  ## Reference pages
  
  ## 参考资料

  * The [Cheat Sheet](cheatsheet.html) lists Angular syntax for common scenarios.

    [速查表](cheatsheet.html)列出了 Angular 在常见场景下的语法。

  * The [Glossary](glossary.html) defines terms that Angular developers should know.

    [词汇表](glossary.html)定义了 Angular 开发人员需要知道的术语。

  * The [Change Log](change-log.html) announces what's new and changed in the documentation.

    [变更日志](change-log.html)包含了文档新增与更新内容。

  * The [API Reference](../api/) is the authority on every public-facing member of the Angular libraries.

    [API 参考手册](../api/)是关于 Angular 库中每一个公共成员的权威参考资料。

  ## Feedback

  ## 反馈

  We welcome feedback!

  我们期待您的反馈！


  * Use the <a href="!{_ngDocRepoURL}" target="_blank" title="angular docs on github">!{_angular_io} Github repository</a> for **documentation** issues and pull requests.

    到 <a href="!{_ngDocRepoURL}" target="_blank" title="angular docs on github">!{_angular_io} Github 库</a>提交**文档**相关的 issues 和 pull requests。

  * Use the <a href="!{_ngRepoURL}" target="_blank" title="angular source on github">Angular Github repository</a> to report issues with **Angular** itself.

    到 <a href="!{_ngRepoURL}" target="_blank" title="angular source on github">Angular Github 库</a>报告与 **Angular 本身**相关的 issues。
